$prime: rgb(137, 0, 0);
$dark: black;
$light: white;

@media screen and (min-width: 1150px) {
    #bgPic {
        position: absolute;
        width: 100vh;
        height: 100vh;
        z-index: -1;
        opacity: 0.1;
        left: calc(50vw - 50vh);
        top: 0;
        user-select: none;
        -webkit-user-drag: none;
    }

    main {
        position: relative;
        width: 40%;
        height: 60vh;
        left: 30%;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            line-height: 2;

            span {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1.5px;
                    bottom: -4px;
                    left: 0;
                    border-radius: 10px;
                    background-color: $prime;
                    transition: all 250ms ease-in-out;
                }
            }
        }
    }

    #partners {
        position: relative;
        width: 70%;
        left: 15%;
        display: flex;
        flex: row;
        flex-wrap: wrap;
        justify-content: space-around;

        a {
            flex: auto;
            width: 15%;
            margin: 5px;
            position: relative;

            img {
                width: 100%;
                background-color: rgba(211, 211, 211);
                filter: grayscale(1);
                opacity: 0.7;
                transition: all 400ms ease-in-out;
                border-radius: 10px;
                z-index: 1;
            }

            span {
                position: absolute;
                z-index: -1;
                bottom: 15px;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: small;
                color: $prime;
                font-weight: 900;
                transition: all 250ms ease-in-out;
                opacity: 0;
            }

            &:hover {
                img {
                    background-color: $light;
                    filter: none;
                    opacity: 1;
                    margin-top: -30px;
                    z-index: 2;
                }

                span {
                    bottom: 0px;
                    opacity: 1;
                }
            }


        }
    }

}

@media screen and (min-width: 300px) and (max-width: 1150px) {
    #bgPic {
        position: absolute;
        width: 100vw;
        object-fit: cover;
        z-index: -1;
        opacity: 0.1;
    }

    main {
        position: relative;
        margin-top: 25%;
        width: 90vw;
        left: 5vw;
        text-align: center;
        margin-bottom: 50px;
    }

    #partners {
        position: relative;
        width: 90vw;
        left: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        a {
            flex: auto;
            position: relative;
            width: 30%;
            margin: 5px;

            img {
                width: 100%;
            }

            span {
                display: none;
            }
        }
        
    }
}